<a href="https://colab.research.google.com/github/mauro9318/python-numpy-pandas/blob/main/Creaci%C3%B3n_y_manipulaci%C3%B3n_de_columnas_en_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv('/content/Online_Retail.csv', encoding='latin-1')

#Código para la generación de nuevas columnas(Manipulación de datos)

df['TotalPrice'] = df['Quantity'] * df['UnitPrice'] #La nueva columna almacenara los datos del producto de
                                                    #Quantity * UnitPrice

print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0  12/1/10 8:26       2.55     17850.0  United Kingdom       15.30
1  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34
2  12/1/10 8:26       2.75     17850.0  United Kingdom       22.00
3  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34
4  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34

In [5]:
df['HighValue'] = df['TotalPrice']>16#nueva columna que almacena datos booleanos
print(df.head(10))

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6
8    536366     22632            HAND WARMER RED POLKA DOT         6
9    536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32

    InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  HighValue
0  12/1/10 8:26       2.55     17850.0  United Kingdom       15.30      False
1  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34       True
2  12/1/10 8:26       2.75     17850.0  United Kingdom       22.00       True
3  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34       True
4  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34       True
5  12/1/10 8:26       7.65     17850.0  United Kingdom       15.30      False
6  12/1/10 8:26       4.25     17850.0  United Kingdom       25.50       True
7  12/1/10 8:28       1.85     17850.0  United Kingdom       11.10      False
8  12/1/10 8:28       1.85     17850.0  United Kingdom       11.10      False
9  12/1/10 8:34       1.69     13047.0  United Kingdom       54.08       True

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
 9   HighValue    541909 non-null  bool
dtypes: bool(1), float64(3), int64(1), object(5)
memory usage: 37.7+ MB
None

In [7]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])#Transformación del tipo de dato
                                                      #de la columna InvoiceDate

print(df.info())

<ipython-input-7-d6460f928323>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])#Transformación del tipo de dato

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
 9   HighValue    541909 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 37.7+ MB
None

In [8]:
#En Pandas tambien se puede usar la función Lambda
#Función que se aplica a cada una de las filas

df['DiscountPrice'] = df['UnitPrice'].apply(lambda x: x*0.95) # la nueva columna
print(df.head())                                              #toma el valor de unit price y lo multiplica por 0.95

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

   HighValue  DiscountPrice
0      False         2.4225
1       True         3.2205
2       True         2.6125
3       True         3.2205
4       True         3.2205

In [11]:
#Creación de la función

def categorize_price(price):
  if price > 50:
    return 'HIGH'
  elif price < 20:
    return 'Medium'
  else:
    return 'LOW'

#Creacion de la nueva columna que categorizará los precios

df['PriceCategory'] = df['UnitPrice'].apply(categorize_price) #Aplicación de la funcion
print(df.head())                                              #ya declarada a cada una de las filas de UnitPrice

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

   HighValue  DiscountPrice PriceCategory
0      False         2.4225        Medium
1       True         3.2205        Medium
2       True         2.6125        Medium
3       True         3.2205        Medium
4       True         3.2205        Medium