<a href="https://colab.research.google.com/github/mauro9318/python-numpy-pandas/blob/main/Fusi%C3%B3n_de_dataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

#Creación de DataFrames de ejemplo
df1 = pd.DataFrame({'key': ['A','B','C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['B','C','D'], 'value2': [4, 5, 6]})

print(df1)
print(df2)

  key  value1
0   A       1
1   B       2
2   C       3
  key  value2
0   B       4
1   C       5
2   D       6

In [2]:
#InnerJOin

ineer_merged = pd.merge(df1, df2, on='key', how='inner')#se realiza considerando la columna key y de la manera inner
print(ineer_merged)

  key  value1  value2
0   B       2       4
1   C       3       5

El resultado muestra los value para B y C, que son datos que comparten.

In [3]:
outer_merged = pd.merge(df1, df2, on='key', how='outer')#se realiza considerando la columna key y de la manera outer
print(outer_merged)

  key  value1  value2
0   A     1.0     NaN
1   B     2.0     4.0
2   C     3.0     5.0
3   D     NaN     6.0

El resultado muestra values para todos A,B,C,D. Los datos que no comparten se consideran NaN

In [4]:
left_merged = pd.merge(df1, df2, on='key', how='left')#se realiza considerando la columna key y de la manera left
print(left_merged)

  key  value1  value2
0   A       1     NaN
1   B       2     4.0
2   C       3     5.0

In [5]:
right_merged = pd.merge(df1, df2, on='key', how='right')#se realiza considerando la columna key y de la manera right
print(right_merged)

  key  value1  value2
0   B     2.0       4
1   C     3.0       5
2   D     NaN       6

La concatenación de dataframes se lo puede realizar de manera horizontal y vertical

In [6]:
df3 = pd.DataFrame({'A': ['A0','A1','A2'], 'B': ['B0','B1','B2']})
df4 = pd.DataFrame({'A': ['A3','A4','A5'], 'B': ['B3','B4','B5']})
print(df3)
print(df4)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
    A   B
0  A3  B3
1  A4  B4
2  A5  B5

In [7]:
#Concatenacion vertical
vertical_concat = pd.concat([df3, df4])
print(vertical_concat)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In [8]:
#Concatenación horizontal
horizontal_concat = pd.concat([df3, df4], axis=1)#para realizar horizontal el axis ==1
print(horizontal_concat)

    A   B   A   B
0  A0  B0  A3  B3
1  A1  B1  A4  B4
2  A2  B2  A5  B5

In [9]:
df5 = pd.DataFrame({'A': ['A0','A1','A2'], 'B': ['B0','B1','B2']}, index=['k0','k1','k2'])
df6 = pd.DataFrame({'C': ['C0','C1','C2'], 'D': ['D0','D1','D2']}, index=['k0','k1','k2'])
print(df5)
print(df6)

     A   B
k0  A0  B0
k1  A1  B1
k2  A2  B2
     C   D
k0  C0  D0
k1  C1  D1
k2  C2  D2

In [10]:
#join
join_df = df5.join(df6, how='inner')
print(join_df)
#apila las filas y columnas considerando el index

     A   B   C   D
k0  A0  B0  C0  D0
k1  A1  B1  C1  D1
k2  A2  B2  C2  D2