<a href="https://colab.research.google.com/github/mauro9318/python-numpy-pandas/blob/main/pandas_y_la_manipulacion_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PANDAS** es una biblioteca de código abierto escrito en python es ampliamente utilizado para la manipulación y el análisis de datos en python.
Pandas posee estruturas de datos para su funcionamiento. Las dos estrucutras de datos principales que ofrece pandas son las ***SERIES*** y ***DATAFRAMES***.

In [5]:
import pandas as pd

path = '/content/Online_Retail.csv'
# Try reading the file with 'latin1' encoding
retail_data = pd.read_csv(path, encoding='latin1')



#print(retail_data.head()
#print(type(retail_data))
print(retail_data)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541904  12/9/11 12:50       0.85     12680.0          France
541905  12/9/11 12:50       2.10     12680.0          France
541906  12/9/11 12:50       4.15     12680.0          France
541907  12/9/11 12:50       4.15     12680.0          France
541908  12/9/11 12:50       4.95     12680.0          France

[541909 rows x 8 columns]

***Crear DataFrames desde Arrays de NumPy***
Pandas se integra perfectamente con NumPy, lo que permite crear DataFrames a partir de arrays de NumPy. Esto es útil cuando trabajamos con datos numéricos y necesitamos realizar análisis o transformaciones más complejas.

In [6]:
import numpy as np
import pandas as pd
#Creación de un array con NUMPY
df = np.array([[1,2,3],[4,5,6],[7,8,9]])

#Creación de un DATAFRAME desde un array
df_from_array = pd.DataFrame(df, columns=['A','B','C'])
print(df_from_array)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

***Crear DataFrames desde Listas de Python***
También pueden crearse DataFrames a partir de listas de Python. Esto incluye listas de listas y listas de diccionarios.

In [7]:
# Crear una lista de listas
data = [[1, 'John', 22], [2, 'Anna', 24], [3, 'Mike', 21]]

# Crear un DataFrame desde la lista de listas
df_from_list = pd.DataFrame(data, columns=['ID', 'Name', 'Age'])

# Mostrar el DataFrame
print(df_from_list)

   ID  Name  Age
0   1  John   22
1   2  Anna   24
2   3  Mike   21

In [8]:
#LISTAS DE DICCIONARIOS

# Crear una lista de diccionarios
data = [{'ID': 1, 'Name': 'John', 'Age': 22}, {'ID': 2, 'Name': 'Anna', 'Age': 24}, {'ID': 3, 'Name': 'Mike', 'Age': 21}]

# Crear un DataFrame desde la lista de diccionarios
df_from_dict_list = pd.DataFrame(data)

# Mostrar el DataFrame
print(df_from_dict_list)

   ID  Name  Age
0   1  John   22
1   2  Anna   24
2   3  Mike   21